.searchForm {
  margin: 0 auto;

  padding-top: 70px;
}

.searchForm__section {
  display: grid;
  place-items: center;
}

.searchForm__movies {
  display: grid;
  gap: 20px;
  grid-template-columns: 250px 150px 100px;
}

.searchForm__movies-input {
  margin: 0;

  max-height: 22px;
  width: 100%;
  background: inherit;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: rgba(139, 139, 139, 1);
}

.searchForm__movies-input:hover {
  border: 1.5px solid rgba(66, 133, 244, 1);
}
